/*--All page common--*/
.innerheader {
    background-color: #c4faf2;
    border-bottom: 1px solid #93e1d6;
    background-image: url(../images/innerbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}


.innerheader h2 {
    font-size: 33px;
    color: #002147;
    font-weight: 600;
    font-family: 'montserratbold';
    padding: 0px 0;
    position: relative;

}

.innerheader h2 span {
    z-index: 3;
    position: relative;
}

.innerheader h2:after {
    position: absolute;
    z-index: 0;
    height: 10px;
    max-width: 100px;
    background-color: #b0e4e1;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;

}

.breadcrumbs-nav {
    border-bottom: 1px solid #e5e8ec;
    padding: 10px 0;
}

.breadcrumbs-nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
    color: #2f7544;
}


.breadcrumbs-nav ul li {
    padding: 0 4px;
    display: flex;
    align-items: center;

}

.breadcrumbs-nav ul li img {
    max-width: 10px;
    max-height: 10px;
    display: block;
    width: 100%;
    position: relative;
    top: 1px;
}

.breadcrumbs-nav ul li a {
    color: #002147;
}


/*--//All page common--*/


.mb-60 {
    margin-bottom: 60px;
}

.pagetitle,
.pagetitle p {
    font-size: 27px;
    color: #253138;
    font-weight: normal;
    font-family: 'montserratregular';
}

.pagetitle h3 {
    font-size: 73px;
    color: #252b33;
    font-family: 'montserratbold';
}


.about-msg p {
    font-size: 20px;
    color: #253138;
    font-weight: normal;
    font-family: 'montserratregular';
    line-height: 1.6;
}


.aboutvide {
    max-width: 843px;
    margin: 0 auto;
    position: relative;
}

.aboutvide .videoplaybtn {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 auto;
    display: inline-block;
    right: 0;
    width: 69px;
    height: 69px;
    background-color: #FFF;
    BORDER-RADIUS: 50%;
}


.aboutvide .imgplace {
    border-radius: 8px;
}


.ourfocus {
    background: #f6fffd url(../images/about-bgshape.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 40px 0;
}


.ourfocus .title {
    font-size: 25px;
    font-family: 'montserratregular';
    line-height: 1.6;
    color: #000000;
}

.text,
.text p {
    line-height: 1.8;
    font-size: 14px;
    color: #252b33;
    font-family: 'montserratregular';

}

.text p.writer {
    line-height: 1.8;
    font-size: 14px;
    color: #252b33;
    font-family: 'montserratbold';

}

.text p.writer span {
    line-height: 1.8;
    font-size: 14px;
    color: #2f7544;
    font-family: 'montserratbold';

}



@media (max-width: 991.98px) {

    .innerheader {
        padding: 20px 0;
    }

    .innerheader h2 {
        font-size: 26px;
    }

    .pagetitle h3 {
        font-size: 33px;
    }

    .pagetitle,
    .pagetitle p {
        font-size: 20px;
    }

    .about-msg p {
        font-size: 16px;
    }

    .mb-60 {
        margin-bottom: 30px;
    }

}
