/*--All page common--*/
.innerheader {
    background-color: #c4faf2;
    border-bottom: 1px solid #93e1d6;
    background-image: url(../images/innerbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}


.innerheader h2 {
    font-size: 33px;
    color: #002147;
    font-weight: 600;
    font-family: 'montserratbold';
    padding: 0px 0;
    position: relative;

}

.innerheader h2 span {
    z-index: 3;
    position: relative;
}

.innerheader h2:after {
    position: absolute;
    z-index: 0;
    height: 10px;
    max-width: 100px;
    background-color: #b0e4e1;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;

}

.breadcrumbs-nav {
    border-bottom: 1px solid #e5e8ec;
    padding: 10px 0;
}

.breadcrumbs-nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
    color: #2f7544;
}


.breadcrumbs-nav ul li {
    padding: 0 4px;
    display: flex;
    align-items: center;

}

.breadcrumbs-nav ul li img {
    max-width: 10px;
    max-height: 10px;
    display: block;
    width: 100%;
    position: relative;
    top: 1px;
}

.breadcrumbs-nav ul li a {
    color: #002147;
}


/*--//All page common--*/

.search-achivers {
    background-color: #e9e9ea;
    padding: 10px 0 0 0;
    margin-bottom: 30px;
}


.search-achivers .form-group .form-control {
    height: 38px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #dadadb;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}


.findbtn {
    background-color: #002147;
    padding: 8px 30px;
    color: #fff;
    font-size: 13px;
    border: none;
}


.studentbox {
    border-style: solid;
    border-width: 1px;
    border-color: #dadadb;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 10px 0 0 0;
    margin-bottom: 15px;

}

.studentimgth {
    width: 107px;
    height: 107px;
    object-fit: cover;
    margin: 0 10px;
    margin-bottom: 10px;
}

.studentimgth img {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #dadadb;
}


.stdent-nam {
    font-size: 12px;
    color: #252c34;
    font-family: 'montserratbold';
    padding: 8px 10px 0 10px;
}

.stdent-nam span {
    color: #5b5f63;
    font-family: 'montserratregular';
    display: block;
}

.student-otherinfo {
    margin-top: 10px;
    padding: 2px 10px 10px 10px;
}

.student-otherinfo ul li {
    font-size: 12px;
    color: #252c34;
    font-family: 'montserratbold';
    padding: 6px 0 0 0;
}

.student-otherinfo ul li span {
    color: #5b5f63;
    font-family: 'montserratregular';

}

.studnetaddress {
    color: #5b5f63;
    font-family: 'montserratregular';
    padding: 8px 10px;
    background-color: #ebfffc;
    border-radius: 0 0 4px 4px;

}

.studnetaddress span {
    font-size: 12px;
    color: #252c34;
    font-family: 'montserratbold';
    padding: 6px 0 0 0;
    display: block;
}


.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pagina .pagination {

    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}


.studentall {
    position: relative;
}

.achivebox {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 620px;
}

.achivebox h5 {
    color: #ffffff;
    font-size: 50px;
    font-family: 'montserratbold';
}

.achivebox a {
    color: #508158;
    font-size: 24px;
    font-family: 'montserratregular';
    background-color: #ffffff;
    display: inline-block;
    padding: 5px 60px;
    border-radius: 30px;
}