/*--All page common--*/
.innerheader {
    background-color: #c4faf2;
    border-bottom: 1px solid #93e1d6;
    background-image: url(../images/innerbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}


.innerheader h2 {
    font-size: 33px;
    color: #002147;
    font-weight: 600;
    font-family: 'montserratbold';
    padding: 0px 0;
    position: relative;

}

.innerheader h2 span {
    z-index: 3;
    position: relative;
}

.innerheader h2:after {
    position: absolute;
    z-index: 0;
    height: 10px;
    max-width: 100px;
    background-color: #b0e4e1;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;

}

.breadcrumbs-nav {
    border-bottom: 1px solid #e5e8ec;
    padding: 10px 0;
}

.breadcrumbs-nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
    color: #2f7544;
}


.breadcrumbs-nav ul li {
    padding: 0 4px;
    display: flex;
    align-items: center;

}

.breadcrumbs-nav ul li img {
    max-width: 10px;
    max-height: 10px;
    display: block;
    width: 100%;
    position: relative;
    top: 1px;
}

.breadcrumbs-nav ul li a {
    color: #002147;
}


/*--//All page common--*/

.facilities-information,
.facilitiesleft-img {
    margin: 20px 0;
}


.facilitiesleft-img img {
    max-width: 100%;
    border-radius: 40px 0 40px 0;

}

.facilities-information,
.facilities-information p {
    color: #252b33;
    line-height: 1.6;
    font-size: 16px;
}

.facilities-information h4 {
    font-size: 47px;
    color: #252b33;
    font-family: 'montserratbold';
    margin-bottom: 10px;
}

.al-center {
    margin-top: auto;
    margin-bottom: auto;
}


.facilitiesouter {
    background-image: url(../images/facilities-bg.png);
    background-repeat: no-repeat;
    background-position: 50% bottom;
}


@media(max-width:767px) {

    .facilities-information h4 {
        font-size: 24px;
    }

    .facilities-information,
    .facilities-information p {
        font-size: 13px;
    }

}