.main-slider { } 
.news-col {}
.news-col .heading { padding-left: 25px; }
.news-col .heading::after,
.news-col .heading::before { width: 100%; margin-left: 0px; left: 0; }
.news-col .heading::before { left: 25px; width: 30%;}
.news-block { margin-top: 20px;}
.news-row { border-bottom: #eeeeee solid 1px; padding: 10px; display: flex; justify-content: center;} 
.news-vertical-line { background: #337544; width: 8px; border-radius: 8px; margin-left: 15px; margin-right: 15px; }
.vertical-line-red { background: #ff0000;}
.news-articles { padding: 10px 0; line-height: 18px; max-width: 555px;  }
.news-view { padding:0px 10px; vertical-align: middle; display: grid; }
.news-view a { display: block; font-family: 'montserratsemibold'; font-size: 13px; line-height: 18px; color: #333333; padding:3px 14px 1px 14px; max-height: 25px; border-radius: 15px; border: #337544 solid 1px; margin-top: 22px;  }
.news-date { background: #337544; border-radius: 5px; padding: 5px ; text-align: center; text-transform: uppercase; color: #ffffff; vertical-align: middle; display: block; min-width: 60px; height: 100% !important }/*display: grid;*/
.news-day { font-family: 'montserratmedium'; font-size: 27px; line-height: 30px; padding-top: 5px;}

.blue-bg-btn { background: #395aa8;}
.blue-bg-btn:hover { background: #395cae; }
.about-matrix-col { margin-left: 30px;  background: #ffffff;
-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);}
.about-matrix { padding:20px 25px; font-family: 'montserratmedium';}
.about-matrix-heading { font-size: 24px; line-height: 30px; margin-bottom: 10px; color: #253138;  }
.about-matrix p { font-size: 13px; line-height: 24px; color: #253138; text-align: justify;}
.about-more { display: block; float: right; color: #395aa8; font-size: 12px; border-bottom: #395aa8 solid 6px; padding: 5px 24px; margin-right: -25px; }
.about-more:hover { color: #337544; border-bottom-color: #337544;}
.matrix-focus { background: url(../images/focus_bg.jpg) center top no-repeat; background-size:cover; clear: both; padding: 15px; color: #ffffff; }
.focus-heading { font-family: 'montserratmedium'; font-size: 20px; line-height: 35px; margin-bottom: 10px;}
.focus-heading img { float: left; margin-right: 12px;}
.matrix-focus ul { display: block; width: 100%;}
.matrix-focus ul li { display: block; position: relative; font-size: 13px; line-height: 18px; margin-bottom: 8px; padding-left: 15px; }
.matrix-focus ul li::after { content: ""; height: 5px; width: 5px; border-radius: 50%; background: #ffffff; position: absolute; left: 0; top: 5px;}
.classroom-courses { margin-top: 40px; margin-bottom: 80px; }
.courses-offers { background-image:url(../images/classroom-top-left.svg), url(../images/classroom-bot-right.svg); background-position: left top, right bottom; background-repeat: no-repeat; background-color: #f7fbff; background-size: 53%;}

.classrom-col { 
border-radius: 3px;
background: #ffffff; 
border: 1px solid rgb(0, 0, 0); border: 1px solid rgba(0, 0, 0, .10); 
-webkit-background-clip: padding-box; /* for Safari */
background-clip: padding-box; 
}
.m-top-40 { margin-top: 0px; }
.classrom-info { padding: 20px 20px 0px 20px; }
.classrom-heading {font-family: 'montserratsemibold'; font-size: 24px; color: #347648;  margin-bottom: 15px; }/*text-transform: uppercase;*/
.classrom-info p { font-family: 'montserratmedium'; font-size: 13px; color: #333333; margin-bottom: 20px;}
.classrom-info p span { display: block; font-size: 13px; font-family: 'montserratbold'; text-transform: uppercase;}
.get-detail-btn { display: block; background: #347648; font-family: 'montserratsemibold'; color: #ffffff; text-transform: uppercase; font-size: 14px; line-height: 30px; padding: 10px 20px 8px 20px; }
.get-detail-btn img { float: right; max-width: 12px; max-height: 12px; margin-top: 9px;}
 
.get-detail-btn:hover { background: #387d4d; color: #ffffff;}
.current-offers { margin-top:50px;}
.current-offers-col { background: #ffffff; position: relative; font-family: 'montserratmedium'; border-radius: 3px; overflow: hidden;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
}
.current-offers-top { width: 100%; position: relative; background: #337544; max-height: 135px; overflow: hidden;}
.current-offers-top img { margin-left: auto; margin-right: auto; width: 100%; height: 100%;}

.current-offers-top,
.current-offers-top img {  
    -webkit-border-bottom-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -moz-border-radius-bottomright: 50%;
    -moz-border-radius-bottomleft: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%; 
}


.offers-branch { background: url(../images/offer_shape.png) right top no-repeat; width: 56px; height: 12px; position: absolute; right: 0px; top: 10px; font-size: 8px; color: #000000; line-height: 14px; text-transform: uppercase; text-align: left; padding-left: 12px; }
.enroll-now-btn { position: absolute; left: 50%; top: 0; margin-left: -70px; z-index: 99; display: inline-block; margin-top: 105px; color: #ffffff; font-size: 14px; line-height: 34px; text-align: center;   
    border: #ffffff solid 2px; width: 140px; height: 38px; border-radius: 19px;
    background: rgb(51,80,149);
    background: linear-gradient(0deg, rgba(51,80,149,1) 0%, rgba(61,92,165,1) 51%, rgba(57,90,168,1) 100%); }
.enroll-now-btn:hover {   background: rgb(52, 92, 187); }
.enroll-now-btn:hover { color: #FFFFFF;}
.current-offers-info { padding:10px 15px 8px 15px; text-align: center; }
.current-offers-heading { font-size: 24px; color: #333333;  position: relative; margin-top: 15px;  }
.current-offers-heading::after { content: ""; height: 1px; width: 86%; left: 7%; background: #e3e3e3; position: absolute; }
.current-offers-heading span { font-size: 12px; display: block; padding-top: 5px; padding-bottom: 10px;}
.current-offers-info p { color: #333333;  font-size: 14px; line-height: 18px; margin-bottom: 0px; margin-top: 8px; }
.current-offers-bot { background: #337544; padding:13px 10px 8px 10px; color: #ffffff;}
.current-offers-bot p { font-size: 13px; line-height: 15px; margin-bottom: 4px;  }
.current-offers-bot p img { float: left; margin-right: 5px; height: 11px; }
.papers-solutions { padding-top: 35px; }
.solutions-col { border: #e4e4e4 solid 1px; border-radius: 3px; background: #FFFFFF; 
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18); }
.solutions-download-col { width: 100%; height: 222px; position: relative; } 
.solutions-download-col img { width: 100%; height: 100%;}
.solutions-overley { display: none; text-align: center; background-color: rgba(0, 33, 71, 0.80); position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;}
.solutions-col:hover .solutions-overley { display: block; }  
.solutions-download { color: #FFFFFF; text-transform: uppercase; display:block; /*position: absolute; left: 50%; top: 50%; margin-left: -43px; margin-top: -30px; */}
.solutions-overley span {display: block;}
.solutions-overley img { display: inline!important; width: 40px; height: 40px;}
.solutions-download:hover { color: #FFFFFF;}
.solutions-middle { width: 100%;  margin-top: 35px; font-size: 12px; }
.solutions-branch { background: #347648; display: inline-block; width: 92px; padding-top: 3px; padding-bottom: 3px; text-align: center;  color: #ffffff; }
.solutions-downloads-copy { display: inline-block; color: #090e1d; float: right; margin-right: 10px;}
.solutions-downloads-copy img { float: left; margin-top: 3px; margin-right: 8px; height: 12px; } 
.solutions-bot { padding: 20px 20px 15px 20px;}
.solutions-bot-heading { font-size: 20px; line-height: 32px; font-family: 'montserratmedium';}
.solutions-inmo, .solutions-date  { display: inline-block; font-size: 12px; color: #838793;}
.solutions-date { float: right;}
.result-section { background: url(../images/our_result_bg.jpg) center top no-repeat; background-size: cover ;}
.our-result { margin-top: 40px; }
.result-box { margin-bottom: 15px; padding: 30px 20px; color: #FFFFFF; background: #337a45;  border-radius: 4px;
	-webkit-transform: skew(7deg);
	   -moz-transform: skew(7deg);
	     -o-transform: skew(7deg);
	transform-origin: top; display: flex; justify-content: center; align-items: center; }
.result-box > span {
	-webkit-transform: skew(-7deg);
	   -moz-transform: skew(-7deg);
	     -o-transform: skew(-7deg);
}

.result-dec { font-family: 'montserratsemibold'; font-size: 48px; line-height: 50px; margin-bottom: 15px; }
.result-dec-name { font-size: 18px; text-transform: uppercase; font-family: 'montserratmedium'; } 
.result-highlights { display: block; width: 100%; margin-top: 20px;}
.result-highlights li { display: block; font-size: 16px; line-height: 20px; position: relative; padding-left: 20px; margin-bottom: 8px; }
.result-highlights li::before { content:""; position: absolute; height: 9px; width: 9px; background: #FFFFFF; left: 0px; top: 4px; border-radius: 50%;}
.tabs-result { display: block; text-align: center;  border-bottom: 1px solid rgba(255, 255, 255, .11);}
.tabs-result .nav-item { display: inline-block; font-size: 18px; line-height: 30px; text-transform: uppercase; margin-left: 8px; margin-right: 8px;}
.tabs-result .nav-link {  color: #FFFFFF;  position: relative; padding-top: .7rem; padding-bottom: .7rem; }
.tabs-result .nav-link img { float: left; margin-right: 8px; height: 28px;}
.tabs-result-content { margin-top: 40px;}
.tabs-result .nav-link:focus, 
.tabs-result .nav-link:hover { border-color: rgba(255, 255, 255, .0); border-bottom-color:#59adff ; }
.tabs-result .nav-item.show .nav-link, 
.tabs-result .nav-link.active { border-color: rgba(255, 255, 255, .0); border-bottom-color:#59adff ; background: none; color: #59adff; }
.tabs-result .nav-link.active::after,
.tabs-result .nav-link:hover::after  { position: absolute; content: ""; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 14px solid #59adff; bottom: -14px; left: 50%; margin-left: -8px; } 
.foundation-toppers { background-image:url(../images/team-top-bg.svg), url(../images/toppers-bg.svg); background-position: left top, right bottom; background-repeat: no-repeat; position: relative; background-color: #eff6fd; } 
.foundation-team { margin-top: 40px; margin-bottom: 120px; }
.foundation-team-col { background: #FFFFFF; position: relative; font-family: 'montserratmedium'; margin-top: 70px; padding: 85px 20px 40px 20px; border-radius: 3px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
}
.foundation-team-img { position: absolute; top: -70px; height: 145px; width: 145px; overflow: hidden; background: #395aa8; border:#395aa8 solid 8px; border-radius: 50%;}
.foundation-team-name {  font-size: 18px; line-height: 24px; color: #333333; text-transform: uppercase; margin-bottom: 0px; }
.foundation-team-edu { font-size: 13px; line-height: 24px; color: #333333; }
.foundation-team-col p { min-height: 54px; font-size: 12px; color: #9a9a9a; line-height: 18px; }
.foundation-team-more { display: block; position: absolute; right: 0px; bottom: 0px; border-bottom: #395aa8 solid 4px; padding:15px 24px; color: #395aa8; font-size: 12px; }
.toppers-talk { margin-top: 50px; background: #FFFFFF; border-radius: 3px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14); } 
.toppers-talk-info { padding-top: 45px; padding-bottom: 45px; border-bottom: #395aa8 solid 4px;}
.toppers-talk-img {  width: 216px; height: 216px; border-radius: 50%; background: #395aa8; border: #395aa8 solid 10px;  position: relative; }
.toppers-talk-img::after { position: absolute; content:""; z-index: 1; left: -32px; top: -32px; width: 150px; height: 150px; background: #395aa8; border-radius: 50%;}
 .toppers-talk-img img { position: relative; z-index: 9;  height: 100%; width: 100%; border-radius: 50%;}
.toppers-talk-name { font-size: 24px; line-height: 30px; color: #002147; text-transform: uppercase; font-family: 'montserratmedium'; margin-top: 5px; }
.toppers-exam-name { font-size: 14px; color: #333333; line-height: 18px; margin-bottom: 10px;}
.toppers-exam-result { background: #2f7544;  width: 150px; display: inline-block; border-radius: 17px; font-family: 'montserratmedium'; color: #FFFFFF; font-size: 24px; line-height: 36px;}
.toppers-talk-video {background:#2f7544 url(../images/toppers_talk_bg.png) center top no-repeat; background-size: cover;}
.talk-video-col { padding: 50px 62px;  }
.talk-video { border: #FFFFFF solid 3px; width: 100%; }
.talk-video img { max-width: 100%;}
.talk-video-col p { font-size: 12px; color: #FFFFFF; margin-top: 20px; position: relative; margin-bottom: 0;} 
.talk-video-col p::after { content: ""; background: url(../images/toppers-comma-start.svg) left top no-repeat; position: absolute; left: -15%; top: -30px; height: 60px; width: 15%; background-size: contain;}  
.talk-video-col p::before { content: ""; background: url(../images/toppers-comma-end.svg) left top no-repeat; position: absolute; right: -15%; bottom: 0px; height: 60px; width: 15%; background-size: contain;}  
.matrix-advantage { background: #FFFFFF url(../images/advantage_bg.svg) center bottom no-repeat; background-size:contain ;}
.advantage-row { margin-top: 40px;} 
.agvantage-heading {font-family: 'montserratmedium';  font-size: 22px; line-height: 30px; color: #333333; margin-bottom: 15px; }
.advantage-rows p { font-size: 16px; line-height: 24px; }
.agvantage-col {padding: 20px 20px; background: #FFFFFF; border-radius: 2px;  margin-top: 30px;
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.14);
}
.agvantage-col p { font-size: 14px; line-height: 20px; min-height: 200px;}
.advantage-icon { margin-bottom: 30px;}
/*.advantage-icon img { width: 126px; }*/
.agvantage-01 img { width: 106px; }
.agvantage-05 { padding-top: 0px;}
.agvantage-05 img { width: 146px; }
.advantage-icon-bot { margin-top: 24px; margin-bottom: 0px;}
.agvantage-05 .advantage-icon { margin-bottom: 15px;} 
.agvantage-01 { background:#FFFFFF url(../images/box-bg1.svg) bottom right no-repeat;}
.agvantage-02 { background:#FFFFFF url(../images/box-bg2.svg) bottom right no-repeat;}
.agvantage-03 { background:#FFFFFF url(../images/box-bg3.svg) bottom left no-repeat;}
.agvantage-04 { background:#FFFFFF url(../images/box-bg2.svg) bottom right no-repeat;}
.agvantage-05 { background:#FFFFFF url(../images/box-bg5.svg) top left no-repeat;}

@media (max-width: 1023px) {  
/* .main-slider { margin-top: 90px;} */
.about-matrix-col { margin-left: 0px; margin-top: 30px; } 
.our-result { margin-top: 30px;} 
.tabs-result .nav-item { font-size: 15px; }  
.result-box { padding: 20px 10px;}
.tabs-result-content { margin-top: 25px; } 
.result-dec { font-size: 40px; line-height: 35px; margin-bottom: 10px;}
.result-dec-name,
.result-highlights li { font-size: 14px;}
.result-highlights { margin-top: 10px;}  
.talk-video-col { padding: 50px 20px 0px 20px;} 
.foundation-team-edu { line-height: 16px; min-height: 32px;  }
.foundation-team-col p { min-height: 75px;}
}

@media (max-width: 767px) {    
    .news-col .heading { padding-left: 0; text-align: center!important;}
    .news-row { padding: 0px 0 25px 0; margin-bottom: 15px; position: relative;}
    .news-articles { max-width: inherit; min-height: 80px; padding: 5px 15px 0 0; }
    .news-view { position: absolute; right: 0px; top: 70px; padding: 0px;}
    .news-view a { margin-top: 0px;}
    .news-date { display: inline-table;}
    .news-vertical-line { margin-left: 0px;}    
    .section-row { padding-top: 30px; padding-bottom: 30px; }
    
    .solutions-download-col { height: 120px;}
    .solutions-overley { display: block;}    
    
    .tabs-result .nav-item.show .nav-link, 
    .tabs-result .nav-link.active { background: #59adff; color: #FFFFFF; }
    .tabs-result .nav-item { font-size: 14px; line-height: 20px; margin-right: 2px; margin-left: 2px;} 
    .tabs-result .nav-link { padding: 5px 2px;}
    .tabs-result .nav-link img { display: none;}
    .tabs-result-content {  margin-top: 25px;   padding-right: 20px;  } 
    .result-box { margin-bottom: 25px; padding: 20px 20px; } 
    .agvantage-col p { min-height: inherit;} 
    .current-offers { margin-top: 30px;}
    .classroom-courses,
    .foundation-team { margin-bottom: 50px;}
    .toppers-talk-info { padding-top: 25px; padding-bottom: 25px;}
    .toppers-talk-img { width: 130px; height: 130px; border-width: 4px; float: left;}
    .talk-video-col { padding: 20px;}
    .toppers-talk-img::after { width: 50px; height: 50px; left: -15px; top: -15px;} 
    .talk-video-col p::after {  left: -30px; top: -10px; height: 30px; width: 40px;  }  
    .talk-video-col p::before { right: -30px; bottom: 0px; height: 30px; width: 40px; } 
    .advantage-head-img { max-height: 350px; overflow: hidden; margin-bottom: 20px;}
    .advantage-head-img img { margin-top: -250px;}
    .agvantage-heading { text-align: center;}

}

@media (max-width: 479px) { 
    .heading { font-size: 22px; line-height: 28px;}
    
    .heading span { line-height: 20px;}
    .tabs-result .nav-link { font-size: 11px; line-height: 14px;}
    .toppers-talk-img { width: 90px; height: 90px; border-width: 5px; }

 }

   



 