/*--All page common--*/
.innerheader {
    background-color: #c4faf2;
    border-bottom: 1px solid #93e1d6;
    background-image: url(../images/innerbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}


.innerheader h2 {
    font-size: 33px;
    color: #002147;
    font-weight: 600;
    font-family: 'montserratbold';
    padding: 0px 0;
    position: relative;

}

.innerheader h2 span {
    z-index: 3;
    position: relative;
}

.innerheader h2:after {
    position: absolute;
    z-index: 0;
    height: 10px;
    max-width: 100px;
    background-color: #b0e4e1;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;

}

.breadcrumbs-nav {
    border-bottom: 1px solid #e5e8ec;
    padding: 10px 0;
    background-color: #fff;
}

.breadcrumbs-nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
    color: #2f7544;
}


.breadcrumbs-nav ul li {
    padding: 0 4px;
    display: flex;
    align-items: center;

}

.breadcrumbs-nav ul li img {
    max-width: 10px;
    max-height: 10px;
    display: block;
    width: 100%;
    position: relative;
    top: 1px;
}

.breadcrumbs-nav ul li a {
    color: #002147;
}


/*--//All page common--*/


.mb-60 {
    margin-bottom: 60px;
}


.boxbox {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.877px 1.798px 6px 0px rgba(0, 0, 0, 0.14);
    padding: 20px;
    margin-bottom: 25px;
}

.bgtr {
    background-color: transparent;
}


.videolabimg {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(181, 249, 241);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.84;
    box-shadow: 0px 10px 30px 0px rgba(41, 41, 41, 0.07);
    width: 158px;
    height: 158px;
    object-fit: cover;
    padding: 4px;
    display: flex;
}

.videolabimg img {
    border-radius: 50%;

}



.titleboxonline {
    font-size: 28px;
    color: #252b33;
    font-family: 'montserratmedium';
}


.subtitle {
    color: #252b33;
    font-size: 14px;
    font-family: 'montserratmedium';
}


.subtitle span {
    color: #337544;
    font-size: 16px;
    font-family: 'montserratmedium';
    display: block;
    padding-top: 8px;
}


.pointbox ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.pointbox ul li {
    color: #676a6e;
    font-size: 14px;
    line-height: 1.6;
    position: relative;
    padding: 0 0 4px 15px
}

.pointbox ul li:after {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    content: "";
    background-color: #929599;
    left: 0;
    top: 8px;

}

.centerbox {
    margin-top: auto;
    margin-bottom: auto;
}


.playstore {
    font-family: 'montserratbold';
    font-size: 17px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.playstore img {
    margin-left: 10px;
}

.discp {
    color: #676a6e;
    font-size: 14px;
    line-height: 1.6;

}

.videoimg {
    margin-bottom: 15px;

}

.videoimg img {
    max-width: 100%;

}


.coqmsg {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #eafffc;
    border-radius: 4px;
    padding: 30px 20px;
    font-family: 'montserratmedium';
    font-size: 28px;
    color: #000000;
    text-align: center;


}

.bluetitl {
    background-color: #c4faf2;
    margin: 0 -20px;
    margin-top: -20px;
    border-radius: 8px;

    box-shadow: 0.877px 1.798px 6px 0px rgba(0, 0, 0, 0.14);
    padding: 20px;
    margin-bottom: 20px;
}

.font-blue span {
    color: #337544;
    font-family: 'montserratbold';
    font-size: 19px;
}

.border-bottm {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .innerheader h2 {
        font-size: 26px;
    }

    .titleboxonline {
        font-size: 20px;
    }

    .coqmsg {
        font-size: 17px;
    }
}