@font-face {
    font-family: 'Montserratblack';
    src: url('../fonts/Montserrat-Black.otf');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'Montserratbold';
    src: url('../fonts/Montserrat-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserratlight';
    src: url('../fonts/Montserrat-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserratmedium';
    src: url('../fonts/Montserrat-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Montserratregular';
  src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserratsemibold';
    src: url('../fonts/Montserrat-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}
html{font-size:14px}
body{font-family: 'Montserratregular'; font-size:14px;color:#333333; padding-top: 115px;}
ul{padding:0;margin:0}
p{font-size:1rem}
img{max-width:100%}
a:focus, a:active, a:hover{outline:none;text-decoration:none;cursor:pointer}
li{list-style:none}
p a{word-break:break-all}
.container{position:relative; max-width: 1140px;} 
@media (max-width: 768px) { 
.navbar h5.navbar-toggler {
    cursor: pointer;
}
}

/** global **/
.mt-25 { margin-top: 25px; } 
.current-offers-overlay { position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; background:rgba(51, 117, 68, 0.77); }
.view-all-btn { display: inline-block; background: #337544; width: 215px;   border-radius: 22px; font-family: 'Montserratmedium'; color: #ffffff; font-size: 16px; line-height: 44px; margin-top: 15px; }
.view-all-btn:hover { background: #3d8750; color: #ffffff;}
.tabs-common { border-color: #e3e3e3; }
.tabs-common .nav-link { font-size: 18px; color: #333333; font-family: 'Montserratsemibold'; text-transform: uppercase; border: #b9d5f0 solid 1px; border-bottom-color: #e3e3e3; margin-left: 20px; padding: 15px; 
background: #ebf5ff; 
-webkit-border-top-left-radius: 7px;
-webkit-border-top-right-radius: 7px;
-moz-border-radius-topleft: 7px;
-moz-border-radius-topright: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px; }
.tabs-common .nav-item.show .nav-link, 
.tabs-common .nav-link.active { background: #347648; border-color: #347648; color: #ffffff;}
.tabs-common-content { margin-top: 25px;}



/**Header**/ 
.header-section {position: fixed; top: 0; right: 0; left: 0; z-index: 9999; background-color: #fff; 
    box-shadow: 2px 0 10px rgba(0,0,0,0.17); 
    -webkit-box-shadow: 2px 0 10px rgba(0,0,0,0.17); 
    -moz-box-shadow: 2px 0 10px rgba(0,0,0,0.17);
    -o-box-shadow: 2px 0 10px rgba(0,0,0,0.17);   
    -ms-box-shadow: 2px 0 10px rgba(0,0,0,0.17);
}
.navbar-toggler:focus, 
.navbar-toggler:hover { outline: none;}
.bar1, .bar2, .bar3 { width: 35px; height: 4px;  background-color: #333; margin: 6px 0; transition: 0.4s; border-radius: 3px; }  
.change .bar1 { -webkit-transform: rotate(-45deg) translate(-6px, 6px); transform: rotate(-45deg) translate(-6px, 6px); }
.change .bar2 {opacity: 0;}
.change .bar3 {-webkit-transform: rotate(45deg) translate(-8px, -8px); transform: rotate(45deg) translate(-8px, -8px); } 
.footer-bot-nav .navbar-toggler { display: block;}
.top-nav { background: #337544; }
.top-nav ul li { display: block; float: left; font-size: 14px; line-height: 20px; color: #FFFFFF;   }  
.top-nav-left { float: left;}
.top-nav-left li { margin-right: 20px; margin-top: 11px; margin-bottom: 11px; } 
.top-nav-left li a { color: #FFFFFF;}
ul.top-nav-left li.mobile-top-nav { display: none;}
.top-nav-right { float: right;}
.top-nav-right li { margin-left: 15px;  } 
.top-nav-right li a { padding:10px 15px; color: #FFFFFF; }
.top-nav ul li.top-nav-btn a {   background: #002147; display: block;  }
.top-nav-right li a { line-height: 25px;}
.top-nav-right li.whatsapp-no { padding-top: 10px; padding-bottom: 10px;}
.top-nav-right li.whatsapp-no a { padding-left: 4px;}
.top-nav-right li.whatsapp-no a img { display: block; float: right; margin-left: 0px; } 
.top-nav-right li .btn { background: #2c673c; border-radius: 0px; padding-top: 10px; padding-bottom: 10px;} 
.top-nav-right li .my-account-wrap { border-radius: 0; padding: 0px; z-index: 99; width: 170px; background: #fff; 
    box-shadow: 2px 0 10px rgba(0,0,0,0.17);
     -moz-box-shadow: 2px 0 10px rgba(0,0,0,0.17);
    -o-box-shadow: 2px 0 10px rgba(0,0,0,0.17);
    -webkit-box-shadow: 2px 0 10px rgba(0,0,0,0.17); 
} 
.top-nav-right li  .my-account-wrap a { text-transform: uppercase; font-weight: 400; padding: 15px; 
    color: #000; font-size: 13px; border-top: 1px solid #eaeaea; width: 100%;
    text-align: left; line-height: 1; display: block; transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
} 
.top-nav-right li .my-account-wrap a:hover { color: #337544; background: #60c379; }
.navbar-light {background: #FFFFFF; padding-top: 0; padding-bottom: 0; }
.navbar-light .navbar-nav .nav-link { font-size: 13px; color: #002147; text-transform: uppercase; font-family: 'Montserratsemibold'; padding:1.8rem 0.7rem; }  
.dropdown-toggle::after { display: none;}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover { color: #337544; }  
.dropdown-menu { border-radius: 0; display: none; position: absolute; top: 100%; left: -15px; z-index: 99;  border-top: 2px solid #337544;
    min-width: 170px; max-width: 300px; padding: 0px; padding-top: 0px; padding-bottom: 0px; background: #fff; justify-content: space-between;
    box-shadow: 2px 0 10px rgba(0,0,0,0.17);
    -moz-box-shadow: 2px 0 10px rgba(0,0,0,0.17);
    -o-box-shadow: 2px 0 10px rgba(0,0,0,0.17);
    -webkit-box-shadow: 2px 0 10px rgba(0,0,0,0.17);
} 
.dropdown-item { border-top: 1px solid #eaeaea;  font-size: 13px; line-height: 1; display: block; color: #000;      transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s; 
    text-transform: capitalize; padding: 15px;
}
.dropdown-item.active, 
.dropdown-item:active { color: #fff; text-decoration: none; background-color: #337544;}
.dropdown-item:hover { background:#bbf1c9; color: #337544;}
.section-row { padding-top: 50px; padding-bottom: 50px; }
.heading { width: 100%; text-align: center;  color: #333333; font-size: 36px; line-height: 36px; padding-bottom: 20px; position: relative; }
.heading::before,
.heading::after { background-color:rgb(0,0,0); opacity:0.1;  position: absolute; content: ""; height: 1px; bottom: 0;left: 50%; width: 66%; margin-left: -33%;  }
.heading::after { opacity:0.2;  width: 20%; margin-left: -10%; } 
.sub-heading { padding-bottom: 5px;}
.heading span { display: block; font-size: 13px; color: #333333; }
.heading-sub { font-size: 18px; line-height: 24px; color:#333333; }  
.m-bot-30 { margin-bottom: 30px;}
/*Query Form **/
.global-query-form { background: url(../images/quey_bg.jpg) center top no-repeat; background-size: cover; } 
#requestCallBack {
    background: url(../images/quey_bg.jpg) center top no-repeat;
        background-size: auto;
    background-size: cover;
}
.heading-2 { color: #FFFFFF;} 
.heading-2::before,
.heading-2::after { background-color:rgb(254,254,254); opacity:0.25; }
.heading-2::after { opacity:1; }
.global-query-warp { background-color: rgba(12, 15, 22, 0.25); padding:30px 45px; margin-top: 30px; font-family: 'Montserratmedium'; }
.global-query-warp .form-control { height: 50px; border-radius: 25px; border: none; font-size: 16px; color: #747474; padding: 15px 17px; }
.global-query-warp .form-row>.col, 
.global-query-warp .form-row>[class*=col-] { padding-left: 25px; padding-right: 25px; margin-bottom: 16px;  }
.global-query-warp .form-check {background-color: rgba(7, 24, 12, .20); font-family: 'Montserratregular'; color: #FFFFFF; display: inline-block; margin-top: 15px; margin-bottom: 10px; padding: 12px 30px 12px 40px; border-radius: 4px; }
.global-query-warp .form-check-label a {  font-family: 'Montserratmedium'; color: #FFFFFF; text-decoration: underline; }
.btn-request-call { background: #337544; height: 50px; min-width: 300px; border-radius: 25px; font-size: 18px; line-height: 38px; color: #FFFFFF;  
    margin-bottom: 10px;
    border: 2px solid rgb(79, 173, 103); border: 2px solid rgba(79, 173, 103, .52); 
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; 
}
.btn-request-call:hover { background: #2f7544; color: #FFFFFF;}
/** Footer Section **/
.footer { background: #002147; }
.footer .navbar-light { background: none;}
.footer .navbar-light .navbar-nav .nav-link { color: #fff; padding-top: 0; padding-bottom: 0;}
.footer .navbar-light .nav-item {
    border-right: 1px solid white;
}
.footer .navbar-light .nav-item:last-child {
  border: none;
}
.footer #aboutUs, .footer #coursesScholarships, .footer #others, .footer .address-col {
    margin-bottom: 20px;
}
.footer .navbar-light .navbar-nav .nav-link:focus, 
.footer .navbar-light .navbar-nav .nav-link:hover { color: #FFFFFF; }   
.nav-heading,
.footer-bot-row .navbar-toggler { font-size: 14px; color: #59a7f2; width: 100%; margin-bottom: 15px; position: relative; padding-left: 0; } 
.footer-bot-row { border-top: #073871 solid 1px; border-bottom: #073871 solid 1px; margin-top: 40px; padding-top: 40px; padding-bottom: 30px; }
.footer-bot-nav .navbar-expand-lg { flex-flow: wrap; padding: 0px;}
.footer-bot-nav .navbar-expand-lg .navbar-nav { display: block; width: 100%; }
.footer-bot-nav .navbar-expand-lg .navbar-nav .nav-link {   padding: 6px 0px; line-height: 18px; color: #8f95aa;}
.footer-bot-nav .navbar-expand-lg .navbar-nav .nav-link:hover { color: #FFFFFF;}
.social-media { width: 100%; padding: 6px 0; }
.social-media a { display: inline; margin-right: 10px;}
.address-col { margin-top: 15px; color: #FFFFFF;}
.address-col p { line-height: 25px; margin-bottom: 8px;}
.font-bold { font-family: 'Montserratsemibold';}
.address-col p img {display:block; float: left; margin-right: 8px; width: 16px; margin-top: 3px; position: relative; }
.footer-bottom { text-align: center; margin-top: 20px;   }
.footer-bottom ul { display: block; text-align: center; width: 100%;} 
.footer-bottom ul li { display: inline;  font-size: 12px; color: #485b78; margin: 5px; }
.footer-bottom ul li a { color: #485b78; }
.footer-bottom ul li a:hover { color: #8f95aa;}
.footer-bottom p { text-align: center; width: 100%; font-size: 12px; color: #8f95aa; margin-top: 5px; margin-bottom: 0px;} 
/* .footer-bot-row .navbar-toggler { display: none;} */


@media (max-width: 991px) { 
    body{ padding-top: 102px;}   
.navbar-light .navbar-toggler { border: none;}
.header-section .navbar-collapse { position: fixed; top: 0; left: 0; padding-left: 15px; padding-right: 15px; padding-bottom: 15px; width: 75%; height: 100%; background: #FFFFFF;
    box-shadow: 2px 0 10px rgba(0,0,0,0.17);
    -moz-box-shadow: 2px 0 10px rgba(0,0,0,0.17);
    -o-box-shadow: 2px 0 10px rgba(0,0,0,0.17);
    -webkit-box-shadow: 2px 0 10px rgba(0,0,0,0.17);
}
.header-section .navbar-collapse.collapsing { left: -75%; transition: height 0s ease; }
.header-section .navbar-collapse.show { left: 0; transition: left 500ms ease-in-out; }
.header-section .navbar-toggler.collapsed ~ .navbar-collapse { transition: left 500ms ease-in-out; }
.navbar-nav .dropdown-menu {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}  
.footer-bot-row .navbar-toggler { display:  block;}
.footer-bot-nav:last-child .navbar-toggler {  }
 
.footer-bot-row .footer-bot-nav:last-child .nav-heading:after { display: none;} 


}

@media (max-width: 1023px) { 
    
}

@media (max-width: 1023px) {   
.top-nav .container { padding-left: 0px; padding-right: 0px; }
.header-section .navbar-toggler { padding-right: 0px;}
.top-nav-left li  { margin-right: 7px; }
.top-nav-right li { margin-left: 5px;}
.top-nav-right li a { padding: 10px 5px;}
.top-nav-right li.whatsapp-no { padding:4px 2px; line-height: 13px; font-size: 13px;}
.top-nav-right li.whatsapp-no a { display: block; padding: 0;}
.top-nav-right li.whatsapp-no a img { display: inline-block; max-height: 14px;  float: initial; margin-top: -4px; margin-left: 4px;}
.header-section .navbar-collapse { padding: 0px;}
.navbar-light { padding-top: .5rem; padding-bottom: .5rem; } 
.navbar-light .navbar-nav .nav-link {padding: 15px; border-top: 1px solid #eaeaea;}
.dropdown-menu { max-width: 100%;}
/* .nav-heading { display: none;} */
.footer-bot-row { padding-top: 20px;}
.footer-bot-row .navbar-toggler { padding:5px 0px; }
.dropdown-toggle:after,
.footer-bot-row .navbar-toggler:after,
.nav-heading:after { display: block; position: absolute; content: ''; width: 15px; height: 15px; right: 18px; top: 20px; margin-top: 0px; border-width: 2px; border-style: solid; border-color: transparent;      border-bottom-color: #000000; border-right-color: #000000; border-radius: 0 0 4px 0; transform: translate(-50%, -50%) rotate(45deg); transition: all .4s ease-in-out; }
.footer-bot-row .navbar-toggler:after { border-bottom-color: #59a7f2; border-right-color: #59a7f2; top: 5px; right: 0px; }
li.nav-item.dropdown.show .dropdown-toggle:after { transform: translate(-50%, -50%) rotate(225deg); top: 25px; }  

 }

 
@media (max-width: 767px) {  

.text-center {
    display: block;
    margin: 0 auto;
}

.top-nav { padding-left: 0px; padding-right: 5px;  }
.top-nav .container { padding-left: 0px; padding-right: 10px; }
ul.top-nav-left li { display: none;} 
ul.top-nav-left li.mobile-top-nav {  display: block;   margin-top:0px; margin-bottom: 0px; }
ul.top-nav-left li.mobile-top-nav a { display: block; font-size: 12px; line-height: 27px; font-weight: 600;   background: #002147; padding: 9px 15px;  }
ul.top-nav-left li.mobile-nav-1 a { background: none;     }
.top-nav ul li { font-size: 12px;}
.top-nav-right li a { padding:5px 6px;}
.top-nav-right li.whatsapp-no { position: relative; padding-left: 35px; line-height: 10px; margin-right: 10px;}
.top-nav-right li.whatsapp-no span { font-size: 12px; padding-top: 2px; display: block;}
.top-nav-right li.whatsapp-no a { display: block; line-height: 17px; font-family: 'Montserratsemibold'; font-size: 14px; margin-top: 4px;}
.top-nav-right li.whatsapp-no::after {
    content: ""; background:url(../images/phone-call.svg) center 5px no-repeat; background-size:12px 12px; border: #FFFFFF solid 2px; padding: 5px; height: 26px; width: 26px; border-radius: 50%; position: absolute;
    top: 4px; left: 0px; } 
.top-nav-right li.whatsapp-no a img  { display: none; }
.top-nav-right li .btn { padding-top: 10px; padding-bottom: 10px;}  
.top-nav-right li { float: right;}
.top-nav ul li.top-nav-btn { display: none;}    
.top-nav ul li.my-account-col { float: right;}  
.global-query-warp { padding: 30px 0px; }
.global-query-warp .form-check { margin: 10px 15px; padding: 5px 10px 5px 30px;}
.global-query-warp .form-check-label { margin-bottom: 0; text-align: left; font-size: 13px; padding-left: 10px; }
.footer { padding-top: 15px; padding-bottom: 15px;}
.footer .navbar-brand { margin-left:auto; margin-right: auto; }
.footer-bot-row { margin-top: 10px;} 
.navbarFooterTop { display: none;}  
.nav-heading:after { width: 15px; height: 15px; right: 18px; top: 5px; border-color: transparent; border-bottom-color: #FFFFFF; border-right-color: #FFFFFF; border-radius: 0 0 4px 0;}
.nav-heading.show .dropdown-toggle:after { transform: translate(-50%, -50%) rotate(225deg); top: 25px; } 
.heading { font-size: 26px; padding-bottom: 10px; margin-bottom: 20px;} 
.view-all-btn { margin-top: 0px;} 
.tabs-common .nav-link { font-size:13px; padding:10px;}

 
.global-query-warp .form-control { height: 40px!important; border-radius: 25px;   padding: 5px 17px!important; }
.studentimgth {
  float: left;
} 
.stdent-nam {
  padding: 4px 10px 0 10px;
}
} 

@media (max-width: 479px) { 
    ul.top-nav-left li.mobile-top-nav a { padding: 9px 10px;  }    
    .top-nav-right li.whatsapp-no::after { display: none;}
    ul.top-nav-left li.mobile-nav-1 a { }
    .top-nav-right li.whatsapp-no { padding-left: 0px; margin-right: 0px; padding-top: 5px;}
    .top-nav-right li.whatsapp-no span { font-size: 10px;} 
    .tabs-common .nav-link { margin-left: 0px; margin-right: 8px;}
}


@media screen and (min-width: 1024px){
    .collapse {
        display: block;
        height: auto !important;
        visibility: visible;
      }
      .collapsing{
        position: relative;
        height: unset !important;
        overflow: hidden;
      }
  }
#requestCallBack .heading span {
    color: white !important;
}


.home-slider-bg{
  width:  100%; /*or 70%, or what you want*/
  height: 400px; /*or 70%, or what you want*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}





.home-slider .owl-dots .owl-dot span {
    width: 19px !important;
    height: 19px !important;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 5px solid  rgba(0, 33, 71, 0.4);
    
}

.home-slider .owl-dots .owl-dot.active span{
      background: #fff !important;
}

button:focus {outline:0;}

@media (max-width: 600px) {
  .home-slider-bg{
        height: 250px; /*or 70%, or what you want*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
  }
}

.logo{
    width: 75px;
}

