body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Celias';
    background-color: #ffffff;
    background-image: url(../images/bg-shap.png);
    background-repeat: no-repeat;
    background-position: center top;
    line-height: 1.6;
}

.header-outer {
    background-color: #e5ffec;
}

header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 12px 0px rgba(113, 113, 113, 0.1);
    padding: 8px 0;
}

.headernaves {
    display: flex;
    justify-content: space-between;
}

.helpline {
    border-radius: 8px;
    background-color: rgb(241, 60, 49);
    font-size: 20px;
    font-weight: 400;
    background-image: url(../images/call.png);
    background-repeat: no-repeat;
    padding: 8px 15px 8px 72px;
    background-position: 20px 6px;
    color: #fff;
    display: flex;
    align-items: center;
}

.notification {
    font-size: 13px;
    font-weight: normal;
    color: #303e52;
}

.calblock {
    padding: 60px 0 0 0;
}

.calblock h1 {
    color: #303e52;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.6;
    text-align: center;
}

.examdate {
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    border-radius: 4px;
    background-color: #f2fff6;
    color: #303e52;
    max-width: 467px;
    margin: 0 auto;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.examdate span {
    background-color: #385ba9;
    background-image: url(../images/calc.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 6px;
    padding: 0 16px 0 35px;
    height: 36px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-left: 8px;
}

.border-bottom {
    border-bottom: 1px solid #dbdbdb;
}

.registration {
    padding: 20px 0 0 0;
}

.registration h2 {
    font-size: 28px;
    color: #327645;
    font-weight: 500;
    text-align: center;
}

.tablerecord {
    font-size: 14px;
    font-weight: normal;
    max-width: 595px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 20px;
}

.tablerecord thead tr th {
    text-align: center;
    text-transform: uppercase;
}

.tablerecord thead tr th:nth-child(2) {
    background-color: #252b33;
    color: #fff;
}

.tablerecord tr td span {
    font-weight: 500;
    font-size: 23px;
    color: #252b33;
    display: block;
    text-align: center;
}

.tablegray {
    background-color: #f9f9f9;
}

.error-message {
    font-size: 11px;
    color: #ff0000;
}

.error-message p {
    margin: 0px;
    font-size: 11px;
    color: #ff0000;
    line-height: 1.6;
}

.registration h3 {
    font-size: 19px;
    color: #252b33;
    font-weight: normal;
}

.registration h3 span {
    font-size: 19px;
    color: #327645;
    font-weight: 500;
}

.formbx {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 73px 0px rgba(56, 91, 169, 0.11);
    padding: 15px 25px;
}

.formbx .forms form label {
    font-size: 13px;
    font-weight: normal;
    color: #818386;
}

.formbx .forms form label span {
    font-size: 12px;
    font-weight: normal;
    color: #ff0000;
}

.formbx .forms form .form-control {
    height: 40px;
    border-radius: 0;
}

.formbx .forms form .form-control {
    height: 40px;
    border-radius: 0;
}

.formbx .forms form textarea.form-control {
    height: auto;
    border-radius: 0;
}

.btns {
    background-color: #385ba9;
    text-transform: uppercase;
    text-align: center;
    min-width: 180px;
    color: #fff;
    font-size: 17px;
    padding: 6px 15px;
}

footer {
    background-color: #001a39;
    padding: 14px 0;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}

.address-foot h4 {
    font-weight: 500;
    font-size: 20px;
    color: #327645;
}

.address-foot p {
    font-weight: normal;
    font-size: 14px;
    color: #252b33;
}

.address-foot a {
    font-weight: normal;
    font-size: 14px;
    color: #252b33;
    margin-right: 30px;
}

.address-foot a:hover {
    text-decoration: none;
}

.otp-form {
    padding-bottom: 40px;
}

.otp-form form {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.otp-block {
    display: inline-flex;
    margin: 0px;
    list-style: none;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0;
}

.valid {
    position: absolute;
    top: 26px;
    right: -49px;
}

.otp-block li {
    margin: 0 10px;
}

input.otpinput {
    border-style: solid;
    border-width: 2px;
    border-color: #dcddde;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 75px;
    height: 102px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    color: #676a6e;
}

input.otpinputvalid {
    border-color: #327645;
}

input.otpinputerror {
    border-color: #327645;
}

input.otpinput:focus {
    outline: none;
}

.otp-icon {
    padding: 20px 0;
    text-align: center;
}

.otp-icon h4 {
    color: #252b33;
    font-size: 16px;
}

.resend {
    font-size: 16px;
    color: #252b33;
}

.resend a {
    font-size: 16px;
    color: #327645;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
}

.paynow {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: #303e52;
}

.paynow-page {
    max-width: 620px;
    margin: 0 auto;
}

.paynow-page table {
    font-size: 14px;
}

.paynow-page table span {
    font-size: 14px;
    font-weight: 600;
    color: #327645;
}

@media (max-width: 1024.98px) {
    input.otpinput {
        width: 58px;
        height: 82px;
    }
    .valid {
        max-width: 25px;
        position: absolute;
        top: 25px;
        right: -20px;
    }
    .valid img {
        max-width: 100%;
    }
}

@media (max-width: 767.98px) {
    .calblock {
        padding: 30px 0 0 0;
    }
    .helpline {
        font-size: 13px;
        background-size: 27px;
        padding: 8px 15px 8px 55px;
        background-position: 14px 6px;
    }
    .headernaves img {
        max-width: 100%;
    }
    .headernaves a {
        display: inline-block;
        max-width: 164px;
    }
    .helpline {
        font-size: 13px;
        background-size: 27px;
        padding: 8px 15px 8px 55px;
        background-position: 14px 6px;
    }
    .calblock h1 {
        font-size: 16px;
    }
    .examdate {
        font-size: 13px;
    }
    .registration h2 {
        font-size: 23px;
    }
    .tablerecord thead tr th {
        font-size: 11px;
    }
    .paynow {
        font-size: 30px;
        margin-top: 22px;
    }
    .otp-block li {
        margin: 0 6px;
    }
    input.otpinput {
        width: 32px;
        height: 59px;
        font-size: 24px;
    }
    .valid {
        max-width: 25px;
        position: absolute;
        top: 14px;
        right: -20px;
    }
    .valid img {
        max-width: 100%;
    }
}

@media (max-width: 575.98px) {
    .headernaves {
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        align-items: center;
    }
    .headernaves a {
        /*margin-bottom: 10px;*/
    }
    .address-foot a {
        margin-right: 17px;
    }
}